/*-- scss:defaults --*/

$inverse-background-color: #272822;
$presentation-font-size-root: 28px;
$presentation-heading-color: #e10020;
$heading2Size: 55px;
$heading3Size: 45px;
$heading4Size: 35px;
$link-color: #e10020;

/*-- scss:rules --*/

.de-emphasis {
  opacity: 0.5;
}

.center-x{
    text-align: center;
}

.slide-number::before {
  content: "Lecture 👩‍💻";
}

.task-slide-count {
  color:purple;
  margin-top:10px
}


.small{font-size: 80%}

.subheading {
  color: #535353;
  font-size: 45px;;
}

.footnote{
  font-size: 60%;
  width: 100%;
}

.big-note{
  font-family: 'Open Sans', sans-serif;
	color: #535353;
	line-height: -10px;
	font-size: 32px
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
