/*-- scss:defaults --*/

$inverse-background-color: #272822;
$presentation-font-size-root: 28px;
$presentation-heading-color: #36506A;
$heading2Size: 55px;
$heading3Size: 45px;
$heading4Size: 35px;
$link-color: #36506A;

/*-- scss:rules --*/

.de-emphasis {
  opacity: 0.5;
}

.center-x{
    text-align: center;
}

.slide-number::before {
  content: "Workshop 📓";
}

.task-slide-count {
  color:purple;
  margin-top:10px
}
